body {
	font-family: Helvetica;
}

input, select {
	border: 1px solid #000;
}

/* States */
.n {background-color: #FFFF00;}
.pr {background-color: #FFC300;}
.d {background-color: #B000ff;}
.dev {background-color: #B44440;}
.t {background-color: #B5DBFF;}
.r {background-color: #A5C700;}

.state, .task, .story, #feedback span {
	-moz-border-radius:3px;
	margin: 0.2em;
	padding: 0.2em;
}

#feedback {
	text-align: center;
}

span.error {
	background-color: #ff0000;
	color: #fff; 
}

/* Board */
table {
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

td {
	vertical-align: top;
	padding-bottom: 2em;
}

.story, .task {
	background-color: #ddd;
}
	
.dragRow {
	background-color: #999;
}

.dragHandle {
	cursor: pointer;
}

.dragHandle:after {
	content:" \2228 \2227";
}